﻿@using WebApplication1.ViewModels.BasketVM

@model List<BasketProductItemVM>

<div class="cart_area cart-area-padding  ">
	<div class="container">
		<div class="page-section-title">
			<h1>Shopping Cart</h1>
		</div>
		<div class="row">
			<div class="col-12">
				<form action="#" class="">
					<!-- Cart Table -->
					<div class="cart-table table-responsive mb--40">
						<table class="table">
							<!-- Head Row -->
							<thead>
								<tr>
									<th class="pro-remove"></th>
									<th class="pro-thumbnail">Image</th>
									<th class="pro-title">Product</th>
									<th class="pro-price">Price</th>
									<th class="pro-quantity">Quantity</th>
									<th class="pro-subtotal">Total</th>
								</tr>
							</thead>
							<tbody>
								<!-- Product Row -->
								@foreach (var item in Model)
								{
									<tr>
										<td class="pro-remove">
											<a asp-action="RemoveBasket" asp-controller="Product" asp-route-id="@item.Id" id="cart-remove"><i class="far fa-trash-alt"></i></a>
										</td>
										<td class="pro-thumbnail">
											<a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
												<img src="~/@item.ImageUrl" alt="Product">
											</a>
										</td>
										<td class="pro-title"><a href="#">@item.Name</a></td>
										<td class="pro-price"><span>$@item.Price</span></td>
										<td class="pro-quantity">
											<div class="pro-qty">
												<div class="count-input-block">
													<input type="number" class="form-control text-center"
														   value="@item.Count">
												</div>
											</div>
										</td>
										<td class="pro-subtotal"><span>$@(item.Price * item.Count)</span></td>
									</tr>
								}
								<!-- Discount Row  -->
								<tr>
									<td colspan="6" class="actions">
										<div class="coupon-block">
											<div class="coupon-text">
												<label for="coupon_code">Coupon:</label>
												<input type="text" name="coupon_code" class="input-text"
													   id="coupon_code" value="" placeholder="Coupon code">
											</div>
											<div class="coupon-btn">
												<input type="submit" class="btn btn-outlined"
													   name="apply_coupon" value="Apply coupon">
											</div>
										</div>
										<div class="update-block text-right">
											<input type="submit" class="btn btn-outlined" name="update_cart"
												   value="Update cart">
											<input type="hidden" id="_wpnonce" name="_wpnonce"
												   value="05741b501f"><input type="hidden"
										 name="_wp_http_referer" value="/petmark/cart/">
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
